@font-face {
  font-family: "TTLakes";
  src: local("TT Lakes Regular"),
    url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes Medium";
  src: local("TT Lakes Medium"),
    url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes Bold";
  src: local("TT Lakes Bold"), url("../fonts/TTLakes-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: "TTLakes", sans-serif;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: inherit;
}

ul li,
nav li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  overflow-x: hidden;
  background-color: #f8f8f8;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  gap: 16px;
  background-color: #fff;
}

.header__menu {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media (min-width: 768px) {
  .header__menu {
    gap: 20px;
  }
}

.header__nav {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}

.header__nav li {
  height: 40px;
}

.header__nav-contact {
  display: none;
  gap: 16px;
  align-items: center;
}
@media (min-width: 768px) {
  .header__nav-contact {
    display: flex;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .header__logo::before {
    content: "";
    display: inline-block;
    background: #eaeaea;
    border-radius: 1px;
    width: 2px;
    height: 28px;
  }
}
.header__nav-info {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header__nav-info::before {
  content: "";
  display: inline-block;
  background: #eaeaea;
  border-radius: 1px;
  width: 2px;
  height: 28px;
}

@media (min-width: 1440px) {
  .header {
    display: none;
  }
}

.header__btn {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.header__btn:hover {
  /* transform: scale(1.1); */
  box-shadow: 0 0 5px #ff3e79;
}

.header__btn-burger {
  background-image: url("../img/burger.svg");
}
.header__btn-call {
  background-image: url("../img/call.svg");
}

.header__btn-chat {
  background-image: url("../img/chat.svg");
}

.header__btn-profile {
  background-image: url("../img/profile.svg");
}

.header__btn-repair {
  background-image: url("../img/repair.svg");
}

.header__btn-checkstatus {
  background-image: url("../img/checkstatus.svg");
}

.main {
  background-color: #f8f8f8;
}

.main__wrapper {
  padding-top: 24px;
  max-width: 1120px;
  margin: 0 auto;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  font-family: "TTLakes Bold";
  font-size: 28px;
  letter-spacing: -0.6px;
  padding: 0px 16px 24px 0;
}

.main__title::before {
  content: "";
  background: url("../img/highlight.svg") no-repeat center;
  width: 4px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
@media (min-width: 768px) {
  .main__title {
    padding: 24px 16px 24px 0;
  }
  .main__title::before {
    margin-right: 20px;
  }
}
@media (min-width: 1120px) {
  .main__title {
    padding: 24px 16px 24px 0;
  }
  .main__title::before {
    width: 3px;
    margin-right: 30px;
  }
}

.main__header-nav {
  display: none;
  margin-right: 32px;
}

@media (min-width: 1440px) {
  .main__header-nav {
    display: block;
  }
  .header__nav-info {
    gap: 160px;
  }
  .header__nav-info::before {
    display: none;
  }
  .header__btn {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .header__btn-repair::before,
  .header__btn-checkstatus::before {
    margin-right: 8px;
    font-family: "TTLakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    width: 130px;
    position: absolute;
    left: -335%;
    bottom: 20%;
  }
  .header__btn-repair::before {
    content: "Оставить заявку";
  }
  .header__btn-checkstatus::before {
    content: "Статус ремонта";
  }
}

.main__nav-list::after {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 90;
  height: 46px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(248, 248, 248) 0%,
    rgba(0, 0, 0, 0) 2%,
    rgba(0, 0, 0, 0) 98%,
    rgb(248, 248, 248) 100%
  );
}
@media (min-width: 1120px) {
  .main__nav-list::after {
    display: none;
  }
}

.main__nav-list {
  display: block;
  margin-left: 16px;
  margin-right: 6px;
  margin-bottom: 24px;
  position: relative;
}

@media (min-width: 768px) {
  .main__nav-list {
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .main__nav-list {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.main__nav-items::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main__nav-items {
  display: flex;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main__nav-item {
  display: block;
  padding: 8px 16px;
  white-space: nowrap;
  font-family: "TTLakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  border: 3px solid transparent;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}

.main__nav-text {
  font-family: "TTLakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  cursor: pointer;
}

.main__nav-item:hover {
  border: 3px solid #b8ffec;
  border-radius: 6px;
  background-color: white;
}
.main__description {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .main__description {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .main__description {
    margin-bottom: 50px;
  }
}

.main__description-list {
  margin: 0 16px;
}
@media (min-width: 768px) {
  .main__description-list {
    width: 50%;
    margin: 0 24px;
  }
}
@media (min-width: 1120px) {
  .main__description-list {
    margin: 0 32px;
  }
}

.main__description-text {
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.main__description-read-more {
  margin-bottom: 16px;
}

.btn-read-more {
  font-family: "TTLakes Medium";
  border: none;
  background-color: inherit;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  word-wrap: break-word;
  cursor: pointer;
}
.btn-read-more::before {
  content: "";
  background: url("../img/expand.svg") no-repeat center;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.main__description-item:last-child {
  display: none;
}

@media (min-width: 768px) {
  .main__description-item:first-child {
    margin-bottom: 20px;
  }
  .main__description-item:last-child {
    display: block;
  }
  .main__description-text {
    max-height: 155px;
    overflow: hidden;
  }
}

.main__description-img {
  width: 100%;
}
@media (min-width: 768px) {
  .main__description-img {
    padding: 0 24px;
  }
}

/* sidebar */
.sidebar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  z-index: 99;
  box-shadow: 5px 0 40px 0 #7e7e82;
  padding: 19px 0;

  overflow-y: auto;
}

@media (min-width: 1440px) {
  .sidebar {
    display: block;
    position: relative;
  }
  .container {
    display: flex;
  }
}

.sidebar_show {
  display: block;
}

.sidebar__header {
  margin: 0 24px 50px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__btn-close {
  background-image: url("../img/burger-close.svg");
}

@media (min-width: 1440px) {
  .sidebar__btn-close {
    display: none;
  }
}

.sidebar__logo {
  display: flex;
  align-items: center;
}

.sidebar__btn-search {
  background-image: url("../img/search.svg");
  margin-left: 60px;
}

.sidebar__content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-height: 95%;
  /* padding-bottom: 32px; */
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.sidebar__item {
  color: #1b1c21;
  font-family: "TTLakes Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 150% */
  letter-spacing: -0.2px;
  margin-left: 24px;
}

.sidebar__item:hover {
  color: #7e7e82;
  margin-left: 0;
  padding: 0;
  /* margin-left: -4px */
}

.sidebar__item:hover::before {
  content: "";
  background: url("../img/highlight-sidebar.svg") no-repeat center;
  width: 4px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  padding: 0;
}

.sidebar__information {
  margin-left: 24px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__nav-contact {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.sidebar__mail {
  display: block;
  color: #1b1c21;
  font-family: "TTLakes Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}

.sidebar__tel {
  display: block;

  color: #1b1c21;
  font-family: "TTLakes Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
}

.sidebar__lang {
  display: flex;
  gap: 10px;
}

.sidebar__lang-item {
  color: #1b1c21;
  font-family: "TTLakes Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.sidebar__lang-item:hover {
  color: #7e7e82;
}

.main__container {
  min-height: 234px;
}

.main__subtitle {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: linear-gradient(to right, #f8f8f8 0%, #fff 100%);
  padding: 16px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .main__subtitle {
    padding: 16px 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1440px) {
  .main__subtitle {
    padding: 16px 32px;
  }
}




@media (max-width: 767px) {
  .swiper-container {
    margin: 16px;
    position: relative;
  }

  /* .swiper-wrapper {
    margin-bottom: 16px;
  } */

  .swiper-slide {
    width: 240px !important;
    height: 72px !important;
  }

  .swiper-read-more {
    display: none;
    margin-top: 16px;
  }
  .swiper-container::after {
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 90;
    height: 72px;
    top: 0;
    right: -16px;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 90%,
      rgb(248, 248, 248) 100%
    );
  }
}

@media (min-width: 768px) {
  .swiper-wrapper {
    gap: 16px 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .swiper-slide {
    width: 224px !important;
    height: 72px !important;
    margin-right: 0 !important;
  }
  .swiper-container {
    margin: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 725px;
    height: 160px;
    overflow-y: hidden;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-read-more {
    margin-left: auto;
    margin-right: auto;
    width: 735px;
    display: block;
    text-align: start;
  }
}
@media (min-width: 1016px) {
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    width: 968px;
  }
  .swiper-read-more {
    margin-left: auto;
    margin-right: auto;
    width: 968px;
    display: block;
    text-align: start;
  }
}

@media (min-width: 1120px) {
  .swiper-slide {
    width: 240px !important;
  }
  .swiper-container {
    margin: 24px 32px;
    margin-left: auto;
    margin-right: auto;
    width: 1056px;
  }
  .swiper-wrapper {
    gap: 16px 32px;
  }
  .swiper-read-more {
    margin-left: auto;
    margin-right: auto;
    width: 1056px;
    display: block;
    text-align: start;
  }
}

.slider-logo-item {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  /* width: 240px; */
  height: 72px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}

.swiper__btn-next {
  background-image: url("../img/go.svg");
}

.swiper-pagination {
  position: static !important;
}
@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
  
}

.read-more-show {
  overflow:visible;
  height: auto;
}