$color_text : #1b1c21;
$color_pink : #ff3e79;
$color_white: #fff;
$color_gray : #eaeaea;
$font-family: "TTLakes", sans-serif;
$font-family_Medium: "TTLakes Medium";
$font-family_Bold: "TTLakes Bold";
$background-color: #f8f8f8;

@font-face {
font-family: "TTLakes";
src: local("TT Lakes Regular"),
    url("../fonts/TTLakes-Regular.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "TTLakes Medium";
src: local("TT Lakes Medium"),
    url("../fonts/TTLakes-Medium.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "TTLakes Bold";
src: local("TT Lakes Bold"), url("../fonts/TTLakes-Bold.woff") format("woff");
font-style: normal;
font-weight: bold;
}

* {
margin: 0;
padding: 0;
font-family: $font-family;
box-sizing: border-box;
}

body {
background-color: $background-color;
}

button {
border: none;
background-color: inherit;
}

ul li,
nav li {
list-style-type: none;
}

a {
text-decoration: none;
}

.container {
overflow-x: hidden;
max-width: 1440px;
margin: 0 auto;
}




.btn-order {
    background-image: url("../img/order.svg");
    display: block;
    position: absolute;
    cursor: pointer;
    align-self: flex-end;
    bottom: 20px;

    @media (min-width: 768px) {
        position: static;
        align-self: center;
    }
}

.big-button {
    width: 119px;
    height: 32px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.big-button:hover {
    box-shadow: 0 0 5px $color_pink;
}




.gradient-display-none::after {
    display: none;
}

.pseudo-class-rotate::before {
    transform: rotate(180deg);
}



.btn-read-more {
    font-family: $font-family_Medium;
    border: none;
    background-color: inherit;
    color: $color_text;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    word-wrap: break-word;
    cursor: pointer;

    &::before {
        content: "";
        background: url("../img/expand.svg") no-repeat center;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
    }
}
  



.scroll-lock {
    overflow-y: hidden;
}
  
  
.input {
    padding: 2px;
    background: $color_white;
    border: 2px solid $color_gray;
    border-radius: 8px;
    margin-bottom: 16px;
    height: 48px;
}
  
  
  
.red-text {
    color: $color_pink;
    font-family: $font-family_Medium;
    font-size: 14px;
    line-height: 16px;
}
  
  
  
.blur {
    filter: blur(10px);
    transition: 0.3s ease-in-out;
    pointer-events: none;
}
  
  
  
  